.hero {
  @include section;

  &__background {
    @include background-blob;
  }

  @media (max-width: 820px) {
    height: 100vh;
  }

  &__container {
    @include section-container;
    padding-top: 100px;
    padding-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
  }


  &__subtitle {
    @include subtitle;
    opacity: 0;

    &-group {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    
    &--direction-left {
      text-align: center;
    }
    
    &--direction-right {
      text-align: center;
      
      &::before {
        transform: translateX(-34%);
      }
    }

    @media (max-width: 820px) {

      &-group {
        margin-top: 150px;
      }
    }
  }

  &__label {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin-top: auto;

    &-text {
      font-size: 35px;
      display: block;
    }

    &-svg {
      position: absolute;
      right: -9em;
      top: 0;
      fill: #ddddf2;
    }
  }

  &__blob {
    @include blob;

    &-svg {
      position: absolute;
    }

    &--1 &-svg {
      // width: 300px;
      width: 30vw;
      // height: 300px;
    }
    
    &--2 &-svg {
      // width: 600px;
      width: 40vw;
      // height: 600px;
    }

    &--3 &-svg {
      // width: 900px;
      width: 50vw;
      // height: 900px;
    }

    &--4 &-svg {
      // width: 1200px;
      width: 60vw;
      // height: 1200px;
    }
  }

}