.decoration {
  @include section;
  min-height: 1500px;
  background-image:
   url('@/assets/bigDecoration.svg'),
   url('@/assets/middleDecoration1.svg'), 
   url('@/assets/middleDecoration2.png'), 
   url('@/assets/middleDecoration3.png'),
   url('@/assets/lineDecoration1.svg'),
   url('@/assets/lineDecoration2.svg'),
   url('@/assets/lineDecoration3.svg'),
   url('@/assets/lineDecoration4.svg'),
   url('@/assets/lineDecoration5.svg');
  background-position: 
    top right,
    left bottom 0%,
    left 40% bottom 0%, 
    right -70% bottom -10%, 
    left top 20%,
    left top 25%,
    left top 20%,
    left top 36%,
    left top 42%;
  background-size: 58%, 30%, 40%, 70%, 40%, 60%, 40%, 45%, 30%;
  background-repeat: no-repeat;

  &__container {
    @include section-container;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  &__label {
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-instance {
      position: absolute;
      width: 150px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding:  40px 15px 15px;
      background-color: rgb(198, 208, 211);
      z-index: 1;
      border-radius: 20px;
      opacity: 1;
  
      &:nth-child(1) {
        left: 29%;
        top: 12%;
        transform: rotate(-150deg) scale(.6);
      }
  
      &:nth-child(2) {
        left: 37%;
        top: 33%;
        transform: rotate(-40deg) scale(.5);
      }

      &:nth-child(3) {
        left: 14%;
        top: 42%;
        transform: rotate(40deg) scale(.6);
      }

      &:nth-child(4) {
        left: 33%;
        bottom: 20%;
        transform: rotate(-20deg) scale(.5);
      }

      &:nth-child(5) {
        left: 14%;
        bottom: 5%;
        transform: rotate(35deg) scale(.5);
      }

      &:nth-child(6) {
        right: 20%;
        bottom: 30%;
        transform: rotate(-160deg) scale(.5);
      }
  
  
      &::before {
        top: 10px;
        left: calc(50% - 7px);
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #FFF;
        background-image: url("../../assets/hole.png");
      }
  
      &-text {
        color: #000;
        font-size: 3vh;
        font-weight: 700;
      }
  
      &-logo {
        align-self: flex-end;
      }
    }

    @media (max-width: 820px) {
      &__instance {
        width: 75px;
        height: 125px;
      }
    }
  }

  @media (max-width: 1030px) {
    background-image:
      url('@/assets/bigDecorationMobile1.svg'),
      url('@/assets/bigDecorationMobile2.svg'), 
      url('@/assets/bigDecorationMobile3.png');
    background-position: 
      left center,
      top right,
      bottom right;
    background-size: 100%, 50%, 80%;


    &__label {

      &-instance { 
        &:nth-child(1) {
          left: 80%;
          top: 10%;
          transform: rotate(-40deg) scale(.6);
        }
    
        &:nth-child(2) {
          left: 37%;
          top: 33%;
          transform: rotate(-40deg) scale(.5);
        }
  
        &:nth-child(3) {
          left: 14%;
          top: 42%;
          transform: rotate(40deg) scale(.6);
        }
  
        &:nth-child(4) {
          left: 80%;
          bottom: 0;
          transform: rotate(-100deg) scale(.4);
          // display: none;
        }
  
        &:nth-child(5) {
          display: none;
        }
  
        &:nth-child(6) {
          display: none;
        }
      }
    }
  }
}