@mixin section {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 800px;
  @media (max-width: 820px) {

  }
}

@mixin blob {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  overflow: visible;

  &-svg {
    position: absolute;
  }
}


@mixin section-container {
  padding: 30px 30px 0 30px;


  @media (max-width: 820px) {
    padding: 10px 10px 0 15px;
  }
}

@mixin title-reset {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

@mixin p-reset {
  margin: 0;
}

@mixin background-blob {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  &__canvas {
    position: absolute;
    bottom: 0%;
    top: 0%;
    left: 0%;
    width: 100%;
    right: 0%;
    height: 100%;
    display: inline-block;
    margin-top: auto;
    z-index: -10;
    background: transparent;
    filter: blur(0.3em);
  }
}

@mixin subtitle {
  position: relative;
  display: block;
  font-size: max(9vw, 50px);
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: transform 1s ease-in-out;

    .js-move & {
      transform: translateX(300px);
    }
  }
}

@mixin list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin font-family-astralaga {
  font-family: 'Astralaga', 'Arial', 'sans-serif';
}