@import 'normalize-scss';
@include normalize();
@import '@/style/fonts.scss';
@import './mixin';
 
*::before,
*::after,
* {
  box-sizing: border-box;
}

.page {

  &__body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: scroll;
    font-family: 'UniversityRoman', 'georgia', 'sans-serif';
  }
}


svg:not(:root) {
  overflow: visible;
}

.container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}


// .section {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   width: 100vw;
//   height: 100vh;
//   scroll-snap-align: start;
//   background-color: rgba(255, 255,255, 0.7);
// }

.icon {

  &--color-grey {
    fill: rgba(200, 200, 200);
  }
}


.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  // background: #fff;

  &--1 {
    top: 5rem;
    right: 5rem;
    z-index: -1;
  }

  &--2 {
    bottom: 10rem;
    left: 5rem;
    z-index: -1;
  }

  &--3 {
    top: 58%;
    right: 50%;
    z-index: -1;
  }

  &--4 {
    top: 51%;
    left: 60%;
  }
}


// html,
// body {
//   height: 100vh;
//   overflow: hidden;
// }

// .parent {
//   overflow: scroll;
//   height: 100vh;
//   scroll-snap-points-y: repeat(100vh);
//   scroll-snap-type: y mandatory;
// }

// section {
//   height: 100vh;
//   scroll-snap-align: start;
//   position: relative;
// }

// .one {
//   background-color: red;
// }

// .two {
//   background-color: blue;
// }

// .three {
//   background-color: grey;
// }

// .four {
//   background-color: green;
// }