
.spiral-disks {
  @include section;

  @media (max-width: 820px) {
    height: 100vh;
    // min-height: unset;
  }


  &__container {
    @include section-container;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media (max-width: 820px) {
      padding: 0;
    }
  }




  // &__subtitle {
  //   @include subtitle;
  //   opacity: 0;
    
  //   &--direction-left {
  //     text-align: center;

  //     &::before {
  //       width: 65%;
  //     }
  //   }

  //   &--direction-right {
  //     text-align: center;

  //     &::before {
  //       width: 65%;
  //     }
  //   }
  // }

}