.login {
  @include section;
  background-color: #000;

  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  &__marquee-container {
    position: absolute;
    width: 100vw;
    height: 17vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: auto;
  }

  &__marquee {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    color: #fff;
    white-space: nowrap;
    font-size: 17vh;
    animation: marqueeLogin 10.5s infinite linear forwards;

    &::after {
      content: "Свяжитесь с нами";
    }
  }

  &__form {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 50%;
    height: fit-content;
    margin: auto;
    z-index: 20;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: max-height 0.3s ease-in-out;
  }

  &__label {
    position: relative;
    width: 100%;
    color: #fff;
    font-size: 8vh;
    display: inline-block;
    opacity: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      transform-origin: right;
      width: 30px;
      bottom: 50px;
      left: 0;
      z-index: 10;
      background-color: #fff;
      height: 3px;
    }

    &::before {
      transform: rotate(15deg);
    }

    &::after {
      transform: rotate(-15deg);
    }

    &:nth-child(2), &:nth-child(3) {
      visibility: hidden;
    }
  }


  &__input {
    @include font-family-astralaga;
    position: absolute;
    height: 100%;
    z-index: 10;
    width: calc(100% - 70px);
    opacity: 0;

    &-container {
      position: relative;
      width: 100%;
      height: 90px;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -2px;
        background-color: white;
      }
    }

    &-field {
      position: relative;
      display: block;
      width: fit-content;
      height: 100%;
      padding: 5px 5px 5px 50px;
      font-size: 6vh;

      &::before {
        content: none;
        position: absolute;
        display: block;
        width: 30px;
        height: 15px;
        background-color: white;
        right: -30px;
        top: calc(100% - 30px);
        animation: 0.5s infinite alternate pulse;
      }

      &.show-carriage::before {
        animation: none;
        opacity: 1;
        content: '';
      }
    }

    &:focus + .login__input-field::before {
      content: '';
    }
  }

  &__button {
    position: absolute;
    right: 5px;
    bottom: 35px;
    width: 70px;
    height: 50px;
    background-image: url("@/assets/icons8-right-arrow-30.png");
    background-color: white;
    background-size: cover;
    border: none;
    filter: invert(1);
    cursor: pointer;
  }

  &__success {
    display: none;
    width: 100%;
    text-align: center;
    opacity: 0;
    font-size: 10vh;
    color: #fff;
  }

  @keyframes marqueeLogin {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes pulse {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}